.selectedBlock {
    background-color: green; /* Example background color */
    color: white;
    border: 1px solid green;
}

.selectedAttack {
    background-color: red; /* Example background color */
    color: white;
    border: 1px solid red;
  }
  